# Random Forest

### Mastery Checkpoint 2  
CSC 466, Winter 2022  
Samay Nathani

In [2]:
from pathlib import Path
home = str(Path.home())

In [3]:
%load_ext autoreload
%autoreload 2

import random_forest

Import our dataset  
I chose the [Palantir Stock Price Dataset from Kaggle](https://www.kaggle.com/kalilurrahman/palantir-stock-data-latest-and-updated)

In [4]:
import pandas as pd
import numpy as np
import math
from scipy.stats import norm
from sklearn.model_selection import train_test_split

titanic_df = pd.read_csv(
    f"{home}/csc-466-student/data/titanic.csv"
)
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
features = ['Pclass','Sex','Age','SibSp','Parch','Fare','Cabin','Embarked']
titanic_df2 = titanic_df.loc[:,features]
titanic_df2['CabinLetter'] = titanic_df2['Cabin'].str.slice(0,1)
X = titanic_df2.drop('Cabin',axis=1)#.dropna()
X['CabinLetter'] = X['CabinLetter'].fillna("?")
X['Pclass'] = X['Pclass'].astype(str)
X['SibSp'] = X['SibSp'].astype(str)
X['Parch'] = X['Parch'].astype(str)
X = X.dropna()
X.head()

  Pclass     Sex   Age SibSp Parch     Fare Embarked CabinLetter
0      3    male  22.0     1     0   7.2500        S           ?
1      1  female  38.0     1     0  71.2833        C           C
2      3  female  26.0     0     0   7.9250        S           ?
3      1  female  35.0     1     0  53.1000        S           C
4      3    male  35.0     0     0   8.0500        S           ?

In [6]:
t = titanic_df.loc[X.index,'Survived']
X2 = pd.get_dummies(X)

In [7]:
X_train, X_test, t_train, t_test = train_test_split(X2, t, test_size=0.3)

In [13]:
trees = random_forest.make_trees(X_train, t_train, n_features=20)

In [14]:
trees[0].predict(X_test)

Int64Index([ 40, 620, 249,   6, 861,  23, 360, 378, 188, 553,
            ...
            438, 672,  89, 191, 816, 872, 349, 407,  51, 703],
           dtype='int64', length=214)

KeyError: 40

In [ ]:
pred = random_forest.vote(trees, X_test)

In [ ]:
sum(t_test == pred) / len(pred)

In [ ]:
airbnb_df = pd.read_csv(
    f"AB_NYC_2019.csv"
)
airbnb_df.head()

In [ ]:
features = ["neighbourhood_group",  "room_type", "price", "number_of_reviews"]
airbnb = airbnb_df.loc[:, features]
airbnb["price"] = (airbnb["price"] // 100) * 100
airbnb["number_of_reviews"] = (airbnb["number_of_reviews"] // 100) * 100
airbnb.dropna(inplace=True)

In [ ]:
X = airbnb.loc[:, ["price", "room_type", "number_of_reviews"]]
t = airbnb["neighbourhood_group"].astype("category").cat.codes
X2 = pd.get_dummies(X)
X_train, X_test, t_train, t_test = train_test_split(X2, t, test_size=0.3)
len(X2.columns)

In [ ]:
dtr = random_forest.DecisionTreeRegressor()

In [ ]:
trees = random_forest.make_trees(X_train, t_train, n_features=3)

In [ ]:
pred = random_forest.vote(trees, X_test)

In [ ]:
sum(t_test == pred) / len(pred)

In [ ]:
#dtr.fit(X_train, t_train)

In [42]:
#dtr._rules

[[('price', 0.0),
  ('number_of_reviews', 0.0),
  ('room_type_Shared room', 0),
  ('room_type_Entire home/apt', 0),
  1],
 [('price', 0.0),
  ('number_of_reviews', 0.0),
  ('room_type_Shared room', 0),
  ('room_type_Entire home/apt', 1),
  1],
 [('price', 0.0), ('number_of_reviews', 0.0), ('room_type_Shared room', 1), 2],
 [('price', 0.0),
  ('number_of_reviews', 300.0),
  ('room_type_Entire home/apt', 1),
  3],
 [('price', 0.0),
  ('number_of_reviews', 300.0),
  ('room_type_Entire home/apt', 0),
  2],
 [('price', 0.0),
  ('number_of_reviews', 100.0),
  ('room_type_Entire home/apt', 0),
  ('room_type_Private room', 1),
  1],
 [('price', 0.0),
  ('number_of_reviews', 100.0),
  ('room_type_Entire home/apt', 0),
  ('room_type_Private room', 0),
  2],
 [('price', 0.0),
  ('number_of_reviews', 100.0),
  ('room_type_Entire home/apt', 1),
  1],
 [('price', 0.0),
  ('number_of_reviews', 200.0),
  ('room_type_Entire home/apt', 0),
  ('room_type_Private room', 1),
  1],
 [('price', 0.0),
  ('number_of_reviews', 200.0),
  ('room_type_Entire home/apt', 0),
  ('room_type_Private room', 0),
  2],
 [('price', 0.0),
  ('number_of_reviews', 200.0),
  ('room_type_Entire home/apt', 1),
  1],
 [('price', 0.0),
  ('number_of_reviews', 400.0),
  ('room_type_Private room', 1),
  3],
 [('price', 0.0),
  ('number_of_reviews', 400.0),
  ('room_type_Private room', 0),
  3],
 [('price', 0.0), ('number_of_reviews', 600.0), 2],
 [('price', 0.0), ('number_of_reviews', 500.0), 3],
 [('price', 300.0),
  ('number_of_reviews', 0.0),
  ('room_type_Entire home/apt', 1),
  2],
 [('price', 300.0),
  ('number_of_reviews', 0.0),
  ('room_type_Entire home/apt', 0),
  ('room_type_Private room', 1),
  2],
 [('price', 300.0),
  ('number_of_reviews', 0.0),
  ('room_type_Entire home/apt', 0),
  ('room_type_Private room', 0),
  2],
 [('price', 300.0),
  ('number_of_reviews', 100.0),
  ('room_type_Entire home/apt', 1),
  2],
 [('price', 300.0),
  ('number_of_reviews', 100.0),
  ('room_type_Entire home/apt', 0),
  2],
 [('price', 300.0), ('number_of_reviews', 200.0), 2],
 [('price', 300.0), ('number_of_reviews', 300.0), 1],
 [('price', 200.0),
  ('number_of_reviews', 0.0),
  ('room_type_Entire home/apt', 1),
  2],
 [('price', 200.0),
  ('number_of_reviews', 0.0),
  ('room_type_Entire home/apt', 0),
  ('room_type_Private room', 1),
  2],
 [('price', 200.0),
  ('number_of_reviews', 0.0),
  ('room_type_Entire home/apt', 0),
  ('room_type_Private room', 0),
  2],
 [('price', 200.0),
  ('number_of_reviews', 100.0),
  ('room_type_Entire home/apt', 1),
  2],
 [('price', 200.0),
  ('number_of_reviews', 100.0),
  ('room_type_Entire home/apt', 0),
  ('room_type_Private room', 0),
  2],
 [('price', 200.0),
  ('number_of_reviews', 100.0),
  ('room_type_Entire home/apt', 0),
  ('room_type_Private room', 1),
  2],
 [('price', 200.0), ('number_of_reviews', 200.0), 1],
 [('price', 200.0), ('number_of_reviews', 300.0), 1],
 [('price', 200.0), ('number_of_reviews', 400.0), 1],
 [('price', 100.0),
  ('room_type_Entire home/apt', 1),
  ('number_of_reviews', 0.0),
  2],
 [('price', 100.0),
  ('room_type_Entire home/apt', 1),
  ('number_of_reviews', 100.0),
  1],
 [('price', 100.0),
  ('room_type_Entire home/apt', 1),
  ('number_of_reviews', 200.0),
  1],
 [('price', 100.0),
  ('room_type_Entire home/apt', 1),
  ('number_of_reviews', 300.0),
  1],
 [('price', 100.0),
  ('room_type_Entire home/apt', 1),
  ('number_of_reviews', 400.0),
  1],
 [('price', 100.0),
  ('room_type_Entire home/apt', 0),
  ('number_of_reviews', 0.0),
  ('room_type_Private room', 1),
  2],
 [('price', 100.0),
  ('room_type_Entire home/apt', 0),
  ('number_of_reviews', 0.0),
  ('room_type_Private room', 0),
  2],
 [('price', 100.0),
  ('room_type_Entire home/apt', 0),
  ('number_of_reviews', 100.0),
  ('room_type_Private room', 1),
  2],
 [('price', 100.0),
  ('room_type_Entire home/apt', 0),
  ('number_of_reviews', 100.0),
  ('room_type_Private room', 0),
  2],
 [('price', 100.0),
  ('room_type_Entire home/apt', 0),
  ('number_of_reviews', 200.0),
  2],
 [('price', 100.0),
  ('room_type_Entire home/apt', 0),
  ('number_of_reviews', 300.0),
  2],
 [('price', 100.0),
  ('room_type_Entire home/apt', 0),
  ('number_of_reviews', 400.0),
  2],
 [('price', 400.0),
  ('number_of_reviews', 0.0),
  ('room_type_Entire home/apt', 1),
  2],
 [('price', 400.0),
  ('number_of_reviews', 0.0),
  ('room_type_Entire home/apt', 0),
  ('room_type_Private room', 1),
  2],
 [('price', 400.0),
  ('number_of_reviews', 0.0),
  ('room_type_Entire home/apt', 0),
  ('room_type_Private room', 0),
  1],
 [('price', 400.0),
  ('number_of_reviews', 100.0),
  ('room_type_Entire home/apt', 1),
  2],
 [('price', 400.0),
  ('number_of_reviews', 100.0),
  ('room_type_Entire home/apt', 0),
  2],
 [('price', 400.0), ('number_of_reviews', 200.0), 2],
 [('price', 500.0),
  ('room_type_Shared room', 0),
  ('number_of_reviews', 0.0),
  ('room_type_Entire home/apt', 1),
  2],
 [('price', 500.0),
  ('room_type_Shared room', 0),
  ('number_of_reviews', 0.0),
  ('room_type_Entire home/apt', 0),
  2],
 [('price', 500.0),
  ('room_type_Shared room', 0),
  ('number_of_reviews', 100.0),
  2],
 [('price', 500.0),
  ('room_type_Shared room', 0),
  ('number_of_reviews', 400.0),
  2],
 [('price', 500.0),
  ('room_type_Shared room', 0),
  ('number_of_reviews', 200.0),
  1],
 [('price', 500.0), ('room_type_Shared room', 1), 2],
 [('price', 700.0),
  ('room_type_Shared room', 0),
  ('room_type_Entire home/apt', 1),
  ('number_of_reviews', 0.0),
  2],
 [('price', 700.0),
  ('room_type_Shared room', 0),
  ('room_type_Entire home/apt', 1),
  ('number_of_reviews', 100.0),
  2],
 [('price', 700.0),
  ('room_type_Shared room', 0),
  ('room_type_Entire home/apt', 0),
  2],
 [('price', 700.0), ('room_type_Shared room', 1), 1],
 [('price', 1500.0), ('room_type_Entire home/apt', 0), 2],
 [('price', 1500.0), ('room_type_Entire home/apt', 1), 2],
 [('price', 800.0),
  ('room_type_Shared room', 0),
  ('number_of_reviews', 0.0),
  ('room_type_Entire home/apt', 1),
  2],
 [('price', 800.0),
  ('room_type_Shared room', 0),
  ('number_of_reviews', 0.0),
  ('room_type_Entire home/apt', 0),
  2],
 [('price', 800.0),
  ('room_type_Shared room', 0),
  ('number_of_reviews', 100.0),
  2],
 [('price', 800.0), ('room_type_Shared room', 1), 0],
 [('price', 600.0),
  ('room_type_Entire home/apt', 1),
  ('number_of_reviews', 0.0),
  2],
 [('price', 600.0),
  ('room_type_Entire home/apt', 1),
  ('number_of_reviews', 100.0),
  2],
 [('price', 600.0), ('room_type_Entire home/apt', 0), 2],
 [('price', 1100.0), ('room_type_Entire home/apt', 1), 2],
 [('price', 1100.0), ('room_type_Entire home/apt', 0), 1],
 [('price', 1000.0),
  ('room_type_Shared room', 0),
  ('number_of_reviews', 0.0),
  ('room_type_Entire home/apt', 1),
  2],
 [('price', 1000.0),
  ('room_type_Shared room', 0),
  ('number_of_reviews', 0.0),
  ('room_type_Entire home/apt', 0),
  1],
 [('price', 1000.0),
  ('room_type_Shared room', 0),
  ('number_of_reviews', 100.0),
  1],
 [('price', 1000.0), ('room_type_Shared room', 1), 2],
 [('price', 900.0),
  ('number_of_reviews', 0.0),
  ('room_type_Entire home/apt', 0),
  2],
 [('price', 900.0),
  ('number_of_reviews', 0.0),
  ('room_type_Entire home/apt', 1),
  2],
 [('price', 900.0),
  ('number_of_reviews', 100.0),
  ('room_type_Entire home/apt', 0),
  3],
 [('price', 900.0),
  ('number_of_reviews', 100.0),
  ('room_type_Entire home/apt', 1),
  1],
 [('price', 2000.0), ('room_type_Entire home/apt', 1), 2],
 [('price', 2000.0), ('room_type_Entire home/apt', 0), 1],
 [('price', 5000.0), ('room_type_Entire home/apt', 1), 1],
 [('price', 5000.0), ('room_type_Entire home/apt', 0), 1],
 [('price', 7500.0), 2],
 [('price', 1200.0),
  ('room_type_Shared room', 0),
  ('room_type_Entire home/apt', 1),
  2],
 [('price', 1200.0),
  ('room_type_Shared room', 0),
  ('room_type_Entire home/apt', 0),
  2],
 [('price', 1200.0), ('room_type_Shared room', 1), 3],
 [('price', 9900.0), 2],
 [('price', 3600.0), 2],
 [('price', 1400.0), 2],
 [('price', 2500.0), ('room_type_Entire home/apt', 1), 2],
 [('price', 2500.0), ('room_type_Entire home/apt', 0), 0],
 [('price', 1900.0), 2],
 [('price', 3000.0), ('room_type_Entire home/apt', 0), 2],
 [('price', 3000.0), ('room_type_Entire home/apt', 1), 2],
 [('price', 1600.0), 1],
 [('price', 2300.0), 3],
 [('price', 6400.0), 2],
 [('price', 1700.0), ('room_type_Entire home/apt', 1), 1],
 [('price', 1700.0), ('room_type_Entire home/apt', 0), 2],
 [('price', 10000.0), ('room_type_Entire home/apt', 0), 3],
 [('price', 10000.0), ('room_type_Entire home/apt', 1), 1],
 [('price', 4100.0), 2],
 [('price', 2900.0), 2],
 [('price', 4000.0), 2],
 [('price', 2600.0), 1],
 [('price', 1300.0), ('room_type_Entire home/apt', 1), 1],
 [('price', 1300.0), ('room_type_Entire home/apt', 0), 2],
 [('price', 5200.0), 2],
 [('price', 3500.0), 2],
 [('price', 2400.0), 2],
 [('price', 3700.0), 2],
 [('price', 6500.0), ('room_type_Entire home/apt', 0), 2],
 [('price', 6500.0), ('room_type_Entire home/apt', 1), 1],
 [('price', 3800.0), 2],
 [('price', 6000.0), 2],
 [('price', 2700.0), 2],
 [('price', 2800.0), 2],
 [('price', 7700.0), 2],
 [('price', 8500.0), 2],
 [('price', 1800.0), 2],
 [('price', 4500.0), 1],
 [('price', 2200.0), 2],
 [('price', 3200.0), 2],
 [('price', 5100.0), 2]]